<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<tr th:each="c : ${allContact}">
    <div>
        <p th:text="${c.getSurname().length() == 0 ? c.getLastName() + ' ' + c.getFirstName() : c.getSurname()}"></p>
        <p th:text=" 'Mail : ' + ${c.getMail()}"></p>
        <p th:text=" 'Numéro : ' + ${c.getNumber()} " ></p>
    </div>
</tr>

</body>
</html>